* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.base {
  width: 1300px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 32px;
  font-weight: 700;
  float: left;
  color: #ffffff;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background-color:rgb(0, 191, 255) ;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #f4f03f;
  font-weight: 500;
  padding: 0px 16px 0px 16px;
  font-size: 21px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: underline #f4f03f;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.baseanawal {
  width: 100%;
  overflow: hidden;
}

.judul {
  margin-top: 10vw;
  margin-bottom: 5vw;
  width: 54%;
  float: left;
}

.judul h2 {
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
}

.judul p {
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  font-size: 20px;
}

.deskripsi {
  font-size: 50px;
  font-weight: 700;
  color: #f4f03f;
}

.foto {
  width: 20%;
  float: right;
}

.minat {
  margin-top: 20px;
  margin-bottom: 20px;
}

.judul2 h2 {
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
}

.judul2 p {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

.macamminat {
  width: 100%;
  margin-top: 3vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.logominat {
  width: 15%;
  margin: 0 auto;
}

.logominat img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logominat h2 {
  font-size: 30px;
  text-align: center;
  color: #f4f03f;
}

.logominat p {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
}

.judul2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.judul2 h2 {
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
}

.judul2 p {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

.macamskill {
  width: 100%;
  margin-top: 3vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.logoskill {
  width: 15%;
  margin: 0 auto;
}

.logoskill img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logoskill h2 {
  font-size: 30px;
  text-align: center;
  color: #f4f03f;
}

.logoskill p {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 18px;
}

#hubungi {
  background: rgb(0, 191, 255);
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.baganfooter {
  width: 20%;
  margin: 0 auto;
}

.baganfooter p {
  font-size: 15px;
  color: #ffffff;
}

.baganfooter h3 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #f4f03f;
  width: 100%;
}
